Language_Translator.json
{
  "name": "Language Translator",
  "nodes": [
    {
      "parameters": {
        "options": {}
      },
      "type": "@n8n/n8n-nodes-langchain.chatTrigger",
      "typeVersion": 1.1,
      "position": [
        180,
        -20
      ],
      "id": "54c90bb6-4cd3-44dd-8b8b-a7acdf7bc775",
      "name": "When chat message received",
      "webhookId": "fc58d32d-0e48-4652-a9f2-1c59f4332a9b"
    },
    {
      "parameters": {
        "options": {
          "systemMessage": "You are a expert at detecting the langauge and you can able to convert any language to the tamil language . you role is to convert the given word or sentnce to the tamil language . you are a language translator.\n\n\nthe otput should be like the below template :\n\nSource language:\ntarget language:\n\nThe translated content :\n\n\n\n"
        }
      },
      "type": "@n8n/n8n-nodes-langchain.agent",
      "typeVersion": 1.8,
      "position": [
        400,
        -20
      ],
      "id": "58d27311-c02d-415e-a726-9fbff5936598",
      "name": "AI Agent"
    },
    {
      "parameters": {
        "modelName": "models/gemini-2.0-flash",
        "options": {}
      },
      "type": "@n8n/n8n-nodes-langchain.lmChatGoogleGemini",
      "typeVersion": 1,
      "position": [
        300,
        160
      ],
      "id": "0bf1d53e-0cab-4eed-92f2-512560ab9505",
      "name": "Google Gemini Chat Model",
      "credentials": {
        "googlePalmApi": {
          "id": "fCfrgtIQoidDw0wq",
          "name": "Google Gemini(PaLM) Api account"
        }
      }
    },
    {
      "parameters": {},
      "type": "@n8n/n8n-nodes-langchain.memoryBufferWindow",
      "typeVersion": 1.3,
      "position": [
        480,
        200
      ],
      "id": "70bc047d-84e6-462f-8bbc-40c98347f572",
      "name": "Simple Memory"
    },
    {
      "parameters": {
        "url": "=https://translate.google.com/translate_tts?ie=UTF-8&client=tw-ob&q={{ encodeURIComponent($json.ttsText) }}&tl=ta\n",
        "options": {}
      },
      "type": "n8n-nodes-base.httpRequest",
      "typeVersion": 4.2,
      "position": [
        920,
        -20
      ],
      "id": "bc23cb76-e2c7-40fe-b278-5b9c99b1679d",
      "name": "HTTP Request",
      "retryOnFail": true
    },
    {
      "parameters": {
        "jsCode": "return items.map(item => {\n  const text = item.json.output;\n  const match = text.match(/The translated content:\\s*(.+)/);\n  const extracted = match ? match[1].trim() : '';\n  return {\n    json: {\n      ttsText: extracted\n    }\n  };\n});\n"
      },
      "type": "n8n-nodes-base.code",
      "typeVersion": 2,
      "position": [
        740,
        -20
      ],
      "id": "03fdd671-0ecf-447e-8247-b500105bc36e",
      "name": "Code"
    }
  ],
  "pinData": {},
  "connections": {
    "When chat message received": {
      "main": [
        [
          {
            "node": "AI Agent",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Google Gemini Chat Model": {
      "ai_languageModel": [
        [
          {
            "node": "AI Agent",
            "type": "ai_languageModel",
            "index": 0
          }
        ]
      ]
    },
    "Simple Memory": {
      "ai_memory": [
        [
          {
            "node": "AI Agent",
            "type": "ai_memory",
            "index": 0
          }
        ]
      ]
    },
    "AI Agent": {
      "main": [
        [
          {
            "node": "Code",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Code": {
      "main": [
        [
          {
            "node": "HTTP Request",
            "type": "main",
            "index": 0
          }
        ]
      ]
    }
  },
  "active": false,
  "settings": {
    "executionOrder": "v1"
  },
  "versionId": "e3ced0f6-1d43-4367-81a0-8ec6b63505b4",
  "meta": {
    "templateCredsSetupCompleted": true,
    "instanceId": "387bde182b3f616ce5a1fa55b9070b133844df742f60c26d3008e6dc90a67e75"
  },
  "id": "3jTSg2X8QCsjCVIM",
  "tags": []
}